*{
    margin: 0;
    padding: 0;
}
.base{
    min-height: 100vh;
    width: 100%;
    background-image: url('tbg.gif');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    white-space: nowrap;
}

ul.dropdown{
    color: white;
    position: relative;
    cursor: pointer;
    width: 300%;
    max-width: 100px;
    padding: 30px;
}

@font-face{
    font-family: T1;
    src: url('tarrgetoutital.ttf')
}
ul.dropdown p{
    font-family: T1;
    font-size: 15px;
}
ul.dropdown li{
    font-size: 20px;
    display: flex;
}

.dropdown .dropdown_content{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 140px;
    background-color: #4C0827;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
}

.dropdown .dropdown_content li{
    color: #DCE1DE;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.dropdown .dropdown_content a{
    font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    text-decoration: none;
    text-align: center;
    color: white;
}

.dropdown .dropdown_content li:hover a{
    color: #DCE1DE;
}

.dropdown .dropdown_content li:nth-child(1):hover{
    background-color: black;
}

.dropdown .dropdown_content li:nth-child(2):hover{
    background-color: black;
}

.dropdown .dropdown_content li:nth-child(3):hover{
    background-color: black;
}

.dropdown .dropdown_content li:nth-child(4):hover{
    background-color: black;
}

.dropdown:hover .dropdown_content{
    top: 100%;
    opacity: 5;
    pointer-events: all;
}

.home{
    display: flex;
    margin-top: 10%;
    margin-right: 10%;
}

@font-face{
    font-family: Tekken;
    src: url('tarrgetital.ttf')
}
.home1{
    margin-right: 5%;
    margin-left: 1%;
    margin-top: 5%;
}
.home h1{
    font-family: Tekken;
    margin-top: auto;
    font-size: 108px;
    margin-bottom: 50px;
    color: red;
}

.home h1:hover{
    text-shadow: 0 0 10px #d7263d;
}

.button{
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
}
.button1{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 25px;
    padding: 14px 60px;
    overflow: hidden;
    margin: 30px 0;
    color: white;
    border: 2px solid red;
    text-transform: uppercase;
    transition: 1s all ease;
}

.button1::before{
    background-color: red;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.button1:hover::before{
    height: 380%;

}

.image{
    width: 40%;
    height: auto;
    margin-top: -10%;
}

.imgs_up #t1, #t2, #t3{
    width: 300px;
    margin-right: -19%;
    margin-bottom: -10%;
    transition: all .3s ease;
}


.imgs_down #t4, #t5, #t6{
    width: 300px;
    margin-right: -20%;
    margin-left: 1%;
    transition: all .3s ease;
}







/*-------Overview-------*/

.overview{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: url('tbg.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.overview_align{
    margin-top: 5%;
    display: flex;
    margin-left: 5%;
    align-items: center;
    align-content: center;
}

.text_overview{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 23px;
  text-align: left;
    color:#f5f3f5;
    background-color: #4C0827; 
    margin-left: -10%;
    margin-right: 5%;
    padding: 50px;
    justify-content: center;
    z-index: 1;
}

video{
    width: 60%;
    height: 60%;
    z-index: auto;
    border: 2px solid #DCE1DE;
}


/*-------Reviews and Rating-------*/

.reviews{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: url('tbg.gif');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review{
    max-width: 987px;
    width: 100%;
    text-align:center;
    background-color: #4C0827;
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    padding: 4em 0;
    border: 2px solid #DCE1DE;
}

.review h1{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #DCE1DE;
}

.review p{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
    color: #DCE1DE;
}

.swiper {
    width: 600px;
    height: auto;
}

.swiper .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments{
    background-color: #DCE1DE;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #DCE1DE;
}

.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #DCE1DE;
}

.swiper .profile a, .profile2 a, .profile3 a{
    color: #DCE1DE;
}

.swiper .profile img{
    width: 20%;
    border-radius: 50%;
    border: 3px solid #DCE1DE;
    margin: 10px 0;
}

.swiper .flex2{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments2{
    background-color: #f5f3f5;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments2::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #DCE1DE;
}

.swiper .profile2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #DCE1DE;
}

.swiper .profile2 img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 3px solid #DCE1DE;
    margin: 10px 0;
}

.swiper .flex3{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments3{
    background-color: #DCE1DE;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: .9em;
    position: relative;
}

.swiper .swiper-slide .comments3::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #DCE1DE;
}

.swiper .profile3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #DCE1DE;
}

.swiper .profile3 img{
    width: 20%;
    height: auto;
    border-radius: 50%;
    border: 3px solid#DCE1DE;
    margin: 10px 0;
}

.swiper .swiper-button-prev{
    color: #DCE1DE;
}

.swiper .swiper-button-next{
    color: #DCE1DE;
}

.impact{
    width: 100%;
    height:auto;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-image: url('tbg.gif');
    background-attachment: fixed;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.impact h1{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
    text-align: center;
    font-size: 60px;
    color: #f5f3f5;
}

.contain{
    width: 1000px;
    justify-content: space-between;
    display:flex;
    margin: auto;
}

.contain .card{
    position: relative;
}

.contain .card .face{
    width: 300px;
    height: 300px;
    transition: all ease .5s; 
}

.contain .card .face.face1{
    font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
    position: relative;
    background: #4C0827;
    color: #DCE1DE;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.contain .card:hover .face.face1{
    transform: translateY(0);
}

.contain .card .face.face1 .content{
    transition: 0.5s;
}

.contain .card:hover .face.face1 .content{
    opacity: 1;
}

.contain .card .face.face1 .content h2{
    margin: 10px 0 0;
    padding: 0;
    color:#f5f3f5;
    text-align: center;
    font-size: 35px;
}

.contain .card .face.face2{
    position: relative;
    height: auto;
    display: flex;
    background-color: #DCE1DE;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
}

.contain .card:hover .face.face2{
    transform: translateY(0);
}

.contain .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}


