*{
    margin: 0;
    padding: 0;
}
.base{
    min-height: 100vh;
    width: 100%;
    background-color: #141414;
    color: #f5f3f5;
    background-position: center;
    background-size: cover;
    position: relative;
    white-space: nowrap;
}

ul.dropdown{
    color: white;
    position: relative;
    cursor: pointer;
    width: 300%;
    max-width: 100px;
    padding: 30px;
}

ul.dropdown p{
    font-family: Valorant;
    font-size: 20px;
}

ul.dropdown li{
    font-size: 20px;
    display: flex;
}

.dropdown .dropdown_content{
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 0;
    width: 140px;
    background-color:#F35A66;
    border-radius: 1rem;
    padding: 1rem;
    transition: all .3s ease;
}

.dropdown .dropdown_content li{
    color: white;
    padding: 1rem;
    border-radius: .5rem;
    cursor: pointer;
    transition: background .2s ease;
}

.dropdown .dropdown_content a{
    font-family: "Platypi", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
    text-decoration: none;
    color: #141414;
}

.dropdown .dropdown_content li:nth-child(1):hover{
    background-color: #f5f3f5;
    color: red;
}

.dropdown .dropdown_content li:nth-child(2):hover{
    background-color: #f5f3f5;
    color: red;
}

.dropdown .dropdown_content li:nth-child(3):hover{
    background-color: #f5f3f5;
    color: red;
}

.dropdown .dropdown_content li:nth-child(4):hover{
    background-color: #f5f3f5;
    color: red;
}

.dropdown:hover .dropdown_content{
    top: 100%;
    opacity: 1;
    pointer-events: all;

}

.home{
    float: left;
    margin-left:5%;
    margin-top: 8%;
    margin-right: 3%;
    text-align: center;
}

@font-face{
    font-family: Valorant;
    src: url('Valorant\ Font.ttf')
}
.home h1{
    font-family: Valorant;
    margin-top: auto;
    font-size: 120px;
    margin-bottom: 50px;
    color: #d7263d;
}

.home h1:hover{
    text-shadow: 0 0 10px #d7263d;
}

.home h2{
    font-size: 25px;
    margin-bottom: 20px;
}

.button{
    position: absolute;
    left: 25%;
    transform: translate(-50%, -50%);
}
.button1{
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    position: relative;
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 14px 60px;
    overflow: hidden;
    margin: 30px 0;
    color: white;
    border: 2px solid #F35A66;
    text-transform: uppercase;
    transition: 1s all ease;
}

.button1::before{
    background-color: #F35A66;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: all 0.6s ease;
    width: 100%;
    height: 0;
    transform: translate(-50%, -50%) rotate(45deg);
}

.button1:hover::before{
    height: 380%;

}


#valoimg{
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-top: -10%;
}

/*-------Overview-------*/

.overview{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #141414;
}

.overview_align{
    margin-top: 5%;
    display: flex;
    margin-left: 5%;
    align-items: center;
    align-content: center;
}

.text_overview{
    color:#f5f3f5;
    background-color: #d7263d; 
    margin-left: -10%;
    margin-right: 5%;
    padding: 50px;
    justify-content: center;
    z-index: 1;
}

.text_overview h3{
    font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
    font-style: normal;
    font-size: 30px;
}

.text_overview p{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    text-align: left;
    color:#f5f3f5;
    font-size: 20px;
}

video{
    width: 60%;
    height: 60%;
    z-index: auto;
}


/*-------Reviews and Rating-------*/

.reviews{
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #141414;
}

.container{
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review{
    max-width: 987px;
    width: 100%;
    text-align:center;
    background-color: #d7263d;
    border-radius: 8px;
    padding: 4em 0;
}

.review h1{
    font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
    color: #f5f3f5;
    font-size: 30px;
}

.review p{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    color: #f5f3f5;
}

.swiper {
    width: 600px;
    height: auto;
}

.swiper .flex{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    background-color: #f5f3f5;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: 1em;
    position: relative;
}

.swiper .swiper-slide .comments::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f5f3f5;
}

.swiper .profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #f5f3f5;
}

.swiper .profile a, .profile2 a, .profile3 a{
    color: #141414;
}

.swiper .profile img{
    width: 30%;
    border-radius: 50%;
    border: 3px solid #141414;
    margin: 10px 0;
}

.swiper .flex2{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments2{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    background-color: #f5f3f5;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: 1em;
    position: relative;
}

.swiper .swiper-slide .comments2::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f5f3f5;
}

.swiper .profile2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #f5f3f5;
}

.swiper .profile2 img{
    width: 30%;
    border-radius: 50%;
    border: 3px solid #141414;
    margin: 10px 0;
}

.swiper .flex3{
    margin: 3em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.swiper .comments3{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    background-color: #f5f3f5;
    padding: 1.5em 2em;
    width: 50%;
    border-radius: 5px;
    font-size: 1em;
    position: relative;
}

.swiper .swiper-slide .comments3::after{
    content: "";
    position: absolute;
    bottom: -19px;
    left: 45%;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f5f3f5;
}

.swiper .profile3{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1em;
    color: #f5f3f5;
}

.swiper .profile3 img{
    width: 30%;
    border-radius: 50%;
    border: 3px solid #141414;
    margin: 10px 0;
}

.swiper .swiper-button-prev{
    color: #f5f3f5;
}

.swiper .swiper-button-next{
    color: #f5f3f5;
}

.impact{
    width: 100%;
    height:auto;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-color: #141414;
    justify-content: center;
    align-items: center;
}

.impact h1{
    font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
    text-align: center;
    font-size: 50px;
    color: #f5f3f5;
}

.contain{
    width: 1000px;
    justify-content: space-between;
    display:flex;
    margin: auto;
}

.contain .card{
    position: relative;
}

.contain .card .face{
    width: 300px;
    height: 300px;
    transition: all ease .5s; 
}

.contain .card .face.face1{
    font-family: "Abhaya Libre", serif;
  font-weight: 500;
  font-style: normal;
    position: relative;
    background: #d7263d;
    color: #f5f3f5;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(100px);
}

.contain .card:hover .face.face1{
    transform: translateY(0);
}

.contain .card .face.face1 .content{
    transition: 0.5s;
}

.contain .card:hover .face.face1 .content{
    opacity: 1;
}

.contain .card .face.face1 .content h2{
    margin: 10px 0 0;
    padding: 0;
    color:#f5f3f5;
    text-align: center;
    font-size: 1.5em;
}

.contain .card .face.face2{
    font-family: "Abhaya Libre", serif;
  font-weight: 400;
  font-style: normal;
    position: relative;
    height: auto;
    display: flex;
    background-color: #f5f3f5;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
    transform: translateY(-200px);
}

.contain .card:hover .face.face2{
    transform: translateY(0);
}

.contain .card .face.face2 .content p{
    margin: 0;
    padding: 0;
}


